@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: #272930;
	color: #F2F2F4;
	font-family: Roboto;
}
p {
	text-indent: 10px;
}
a, a[type="sub"] {
	color: #29B3CC;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}
a[type="sub"] {
	color: #29B3CC;
}
font[type="set_lang"] {
	font-family: "Roboto";
	font-size: 20px;
}
font span {
	font-family: "Roboto";
	font-weight: bold;
}
h2, span {
	margin: 0;
}

.center {
	margin: 15px 0px;
	text-align: center;
}
.absolute {
	position: absolute;
}
.squared {
	border-radius: 10px;
}
.half-squared {
	border-radius: 6px;
}
.smooth-shape {
	border-radius: 4px;
}
.smooth-top {
	border-radius: 4px 4px 0 0;
}
.single-line {
	display: flex;
	align-items: center;
	align-content: center;
}
.icon {
	height: 50px;
	margin-right: 10px;
	width: 50px;
}
.round {
	border-radius: 50%;
}
.block button {
	display: block;
}
.fixed-width {
	width: 180px;
}

.hidden {
	background-color: transparent;
	color: transparent;
	display: none;
	font-size: 0;
	height: 0;
	opacity: 0;
	width: 0;
}
.hidden img {
	width: 0px;
	height: 0px;
}
.visible {
	font-size: 15px;
	height: auto;
	max-width: 800px;
	min-width: 150px;
	opacity: 1;
	width: max-content;
}

.tab {
	cursor: pointer;
	margin-bottom: 50px;
	margin-right: 10px;
	width: 70px;
}

.container {
	-background-color: #5769A8;
	color: #EFF7FF;
	padding: 10px;
	margin: -100px 120px -20px;
	font-family: "Roboto";
	text-align: justify;
}
.container, .container img {
	animation-duration: .8s;
	animation-name: expand;
}
.sub-container {
	background-color: #31343d;
	margin-top: 5px;
	padding: 10px 10px;
	font-family: "Lato";
	
	text-align: justify;
}

.infographic {
	align-items: center;
	background-color: #31343d;
	color: #9EA6C1;
	display: flex;
	height: 55px;
	margin: 5px;
}
.infographic > img {
	height: 50px;
	padding: 2px 10px 2px 4px;
	width: 50px;
}

.button {
	background-color: #4183C4;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	height: auto;
	
	max-height: max-content;
	min-height: 40px;
	padding: 10px;
	
	transition: background-color .5s;
	transition-timing-function: ease-in-out;
}
.button:hover {
	background-color: #386A9B;
}

.img-button-collection img {
	border: transparent;
	height: auto;
	padding: 5px;
}
.img-button-collection img:hover {
	border: 2px solid #F2F2F4;
	cursor: pointer;
}

/* Class based on w3schools' modal */
.window {
	display: flex;
	float: right;
	cursor: pointer;
}
.window img {
	box-shadow: 0px 0px 2px 2px rgb(81, 198, 239, .7);
	height: 5%;
	margin-right: 20px;
	min-width: 40px;
	transition: .3s;	
	width: 5%;	
}
.window img {
	box-shadow: 0px 0px 6px 6px rgb(81, 198, 239, .7);
}

/* KEYFRAMES */
@keyframes expand {
	from {
		background-color: transparent;
		color: transparent;
		margin: -70px 0px;
		font-size: 0;
		height: 0;
		width: 0;
	}
}
@keyframes contract { 
	to {
		background-color: transparent;
		color: transparent;
		margin: -70px 0px;
		font-size: 0;
		height: 0;
		width: 0;
	}
}